@charset "utf-8";
/* font */
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 600;
  src: local('Spoqa Han Sans Neo Bold'),
  url('/resources/font/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
  url('/resources/font/SpoqaHanSansNeo-Bold.woff') format('woff'),
  url('/resources/font/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: local('Spoqa Han Sans Neo Medium'),
  url('/resources/font/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
  url('/resources/font/SpoqaHanSansNeo-Medium.woff') format('woff'),
  url('/resources/font/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: local('Spoqa Han Sans Neo Regular'),
  url('/resources/font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
  url('/resources/font/SpoqaHanSansNeo-Regular.woff') format('woff'),
  url('/resources/font/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: local('Spoqa Han Sans Neo Light'),
  url('/resources/font/SpoqaHanSansNeo-Light.woff2') format('woff2'),
  url('/resources/font/SpoqaHanSansNeo-Light.woff') format('woff'),
  url('/resources/font/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Heungkukseed';
  font-weight: 600;
  src: local('HeungkukseedB'),
  url('/resources/font/HeungkukseedB.woff2') format('woff2'),
  url('/resources/font/HeungkukseedB.woff') format('woff'),
  url('/resources/font/HeungkukseedB.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'Heungkukseed';
  font-weight: 500;
  src: local('HeungkukseedM'),
  url('/resources/font/HeungkukseedM.woff2') format('woff2'),
  url('/resources/font/HeungkukseedM.woff') format('woff'),
  url('/resources/font/HeungkukseedM.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'Heungkukseed';
  font-weight: 300;
  src: local('HeungkukseedL'),
  url('/resources/font/HeungkukseedL.woff2') format('woff2'),
  url('/resources/font/HeungkukseedL.woff') format('woff'),
  url('/resources/font/HeungkukseedL.eot') format('embedded-opentype');
}







:root {
  --primary:#4E32A5;
  --primary2:#F1108E;
  --red:#FF0000;
  --disabled:#EEEEEE;
  --background-f8:#F8F8F8;
  --background-fa:#FAFAFA;
  --background-f7:#F7F9FC;
  --title:#333333;
  --normal:#111111;
  --normal-91:#999999;
  --normal-99:#999999;
  --normal-66:#666666;
  --white: #fff;
  --border-91:#919191;
  --border-e1:#E1E1E1;
  --border-bb:#bbbbbb;
  --border-dd:#dddddd;
  --font50:50px;
  --font30:30px;
  --font28:28px;
  --font27:27px;
  --font26:26px;
  --font25:25px;
  --font21:22px;
  --font22:22px;
  --font18:18px;
  --font17:16px;
  --font16:16px;
  --font14:14px;
  --font13:13px;
  --font12:12px;
}  

/*base*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{ width:100%; height:100%; text-align:left; font-size:16px; font-weight:400; font-family:"맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif; color:#333; line-height:26px; letter-spacing:-1px; -webkit-overflow-scrolling:touch; }
body,p,h1,h2,h3,h4,h5,h6,table,caption,form,fieldset,legend,span,div,th,td,address{margin:0; padding:0; }
ul,ol,li,dl,dt,dd{list-style:none; margin:0; padding:0px}
img{border:0 none; line-height:0; font-size:0; vertical-align:top}
table{border-collapse:collapse; border-spacing:0; width:100%}
fieldset{border:0}
legend, caption{width:0; height:0; text-indent:-10000px; font-size:0px; line-height:0; position:absolute; left:-99999px; }
textarea{border:2px solid #dbdbdc; padding:8px 10px !important; line-height:18px; resize:none; }
input, textarea { vertical-align:middle; font-size:14px; color:var(--normal); padding:0; margin:0; }
input[type="checkbox"] { width:12px; height:12px; margin-right:7px;}
input[type="radio"] { width:13px; height:13px; border:none; }
input[type="file"]{height:22px; color:#666; border:1px solid #d4d4d4; line-height:22px; vertical-align:middle; background:#fff}
input.text{height:16px; padding:8px 10px; border:2px solid #dbdbdc; }
input.date{margin:0 3px 0 0; width:110px}
input.ko-txt { -webkit-ime-mode:active; -moz-ime-mode:active; -ms-ime-mode:active; ime-mode:active; }
em { font-style:normal; }
iframe { border:none; }
strong { font-weight:bold; }
a { color:#292929; text-decoration:none;}
hr { border:0; background:#B3BBC0; margin:0; height:1px; }
button { padding:0; border:none; cursor:pointer; font-family:inherit; background:none; border-radius:0;}
/* common */
.hide { display:none !important; }
.of-hi { overflow:hidden !important; }
.fl-l { float:left !important; }
.fl-r { float:right !important; }
.cl-b { width:0; height:0; font-size:0; line-height:0; clear:both;}
.va-m { vertical-align:middle !important;}
.va-t { vertical-align: top !important;}
.max { width:100%; }
.ta-c { text-align:center !important; }
.ta-l { text-align:left !important; }
.ta-r { text-align:right !important; }
.clear { display:block; overflow:visible; width:auto; clear:both; *zoom:1;}
.clear:after { display:block; visibility:hidden; height:0; font-size:0; clear:both; content:'';}
.w100 { width:100% !important; }

.ml0 { margin-left:0 !important;}
.ml10 { margin-left:10px !important;}
.mr0 { margin-right:0 !important;}
.mr10 { margin-right:10px !important;}

.mt0 { margin-top:0px !important;}
.mt5 { margin-top:5px !important; margin-top:5px !important; }
.mt10 { margin-top:10px !important; margin-top:0.625rem !important; }
.mt15 { margin-top:15px !important; margin-top:0.938rem !important;}
.mt20 { margin-top:20px !important; margin-top:1.25rem !important;}
.mt25 { margin-top:25px !important; margin-top:1.563rem !important;}
.mt30 { margin-top:30px !important; margin-top:1.875rem !important;}
.mt35 { margin-top:35px !important; margin-top:2.188rem !important;}
.mt40 { margin-top:40px !important; margin-top:2.5rem !important;}
.mt45 { margin-top:45px !important; margin-top:2.813rem !important;}
.mt50 { margin-top:50px !important; margin-top:3.125rem !important;}
.mt55 { margin-top:55px !important; margin-top:3.438rem !important;}
.mt60 { margin-top:60px !important; margin-top:3.75rem !important;}
.mt65 { margin-top:65px !important; margin-top:4.063rem !important;}
.mt70 { margin-top:70px !important; margin-top:4.375rem !important;}
.mt75 { margin-top:75px !important; margin-top:4.688rem !important;}
.mt80 { margin-top:80px !important; margin-top:5rem !important;}
.mt85 { margin-top:85px !important; margin-top:5.313rem !important;}
.mt90 { margin-top:90px !important; margin-top:5.625rem !important;}
.mt95 { margin-top:95px !important; margin-top:5.938rem !important;}
.mt100 { margin-top:100px !important; margin-top:6.25rem !important;}
.mt130 { margin-top:130px !important; margin-top:8.125rem !important;}

.mb0 { margin-bottom:0px !important;}
.mb5 { margin-bottom:5px !important; margin-bottom:0.313rem !important;}
.mb10 { margin-bottom:10px !important; margin-bottom:0.625rem !important;}
.mb15 { margin-bottom:15px !important; margin-bottom:0.938rem !important;}
.mb20 { margin-bottom:20px !important; margin-bottom:1.25rem !important;}
.mb25 { margin-bottom:25px !important; margin-bottom:1.563rem !important;}
.mb30 { margin-bottom:30px !important; margin-bottom:1.875rem !important;}
.mb35 { margin-bottom:35px !important; margin-bottom:2.188rem !important;}
.mb40 { margin-bottom:40px !important; margin-bottom:2.5rem !important;}
.mb45 { margin-bottom:45px !important; margin-bottom:2.813rem !important;}
.mb50 { margin-bottom:50px !important; margin-bottom:3.125rem !important;}
.mb55 { margin-bottom:55px !important; margin-bottom:3.438rem !important;}
.mb60 { margin-bottom:60px !important; margin-bottom:3.75rem !important;}
.mb65 { margin-bottom:65px !important; margin-bottom:4.063rem !important;}
.mb70 { margin-bottom:70px !important; margin-bottom:4.375rem !important;}
.mb75 { margin-bottom:75px !important; margin-bottom:4.688rem !important;}
.mb80 { margin-bottom:80px !important; margin-bottom:5rem !important;}
.mb85 { margin-bottom:85px !important; margin-bottom:5.313rem !important;}
.mb90 { margin-bottom:90px !important; margin-bottom:5.625rem !important;}
.mb95 { margin-bottom:95px !important; margin-bottom:5.938rem !important;}
.mb100 { margin-bottom:100px !important; margin-bottom:6.25rem !important;}

.pl10 { padding-left:10px !important;}

.pt0 { padding-top:0 !important; padding-top:0rem !important;}
.pt5 { padding-top:5px !important; padding-top:0.313rem !important;}
.pt10 { padding-top:10px !important; padding-top:0.625rem !important;}
.pt15 { padding-top:15px !important; padding-top:0.938rem !important;}
.pt20 { padding-top:20px !important; padding-top:1.25rem !important;}
.pt25 { padding-top:25px !important; padding-top:1.563rem !important;}
.pt30 { padding-top:30px !important; padding-top:1.875rem !important;}
.pt35 { padding-top:35px !important; padding-top:2.188rem !important;}
.pt40 { padding-top:40px !important; padding-top:2.5rem !important;}
.pt45 { padding-top:45px !important; padding-top:2.813rem !important;}
.pt50 { padding-top:50px !important; padding-top:3.125rem !important;}
.pt55 { padding-top:55px !important; padding-top:3.438rem !important;}
.pt60 { padding-top:60px !important; padding-top:3.75rem !important;}
.pt65 { padding-top:65px !important; padding-top:4.063rem !important;}
.pt70 { padding-top:70px !important; padding-top:4.375rem !important;}
.pt75 { padding-top:75px !important; padding-top:4.688rem !important;}
.pt80 { padding-top:80px !important; padding-top:5rem !important;}
.pt85 { padding-top:85px !important; padding-top:85px !important;}
.pt90 { padding-top:90px !important; padding-top:5.625rem !important;}
.pt95 { padding-top:95px !important; padding-top:5.938rem !important;}
.pt100 { padding-top:100px !important; padding-top:6.25rem !important;}

.pb0 { padding-bottom:0 !important;}
.pb5 { padding-bottom:5px !important; padding-bottom:0.313rem !important;}
.pb10 { padding-bottom:10px !important; padding-bottom:0.625rem !important;}
.pb15 { padding-bottom:15px !important; padding-bottom:0.938rem !important;}
.pb20 { padding-bottom:20px !important; padding-bottom:1.25rem !important;}
.pb25 { padding-bottom:25px !important; padding-bottom:1.563rem !important;}
.pb30 { padding-bottom:30px !important; padding-bottom:1.875rem !important;}
.pb35 { padding-bottom:35px !important; padding-bottom:2.188rem !important;}
.pb40 { padding-bottom:40px !important; padding-bottom:2.5rem !important;}
.pb45 { padding-bottom:45px !important; padding-bottom:2.813rem !important;}
.pb50 { padding-bottom:50px !important; padding-bottom:3.125rem !important;}
.pb55 { padding-bottom:55px !important; padding-bottom:3.438rem !important;}
.pb60 { padding-bottom:60px !important; padding-bottom:3.75rem !important;}
.pb65 { padding-bottom:65px !important; padding-bottom:4.063rem !important;}
.pb70 { padding-bottom:70px !important; padding-bottom:4.375rem !important;}
.pb75 { padding-bottom:75px !important; padding-bottom:4.688rem !important;}
.pb80 { padding-bottom:80px !important; padding-bottom:5rem !important;}
.pb85 { padding-bottom:85px !important; padding-bottom:5.313rem !important;}
.pb90 { padding-bottom:90px !important; padding-bottom:5.625rem !important;}
.pb95 { padding-bottom:95px !important; padding-bottom:5.938rem !important;}
.pb100 { padding-bottom:100px !important; padding-bottom:6.25rem !important;}

/******** UI ********/
[class*='btn'] { display:inline-block;}
.ui-widget { font-family:'Spoqa Han Sans Neo' !important;}

/*radio, checkbox custom style*/
.check { display:inline-block; padding:0px; height:18px; /*line-height:18px;*/ line-height:1; padding-left:25px;}
.radio { display:inline-block; padding:0px; height:20px; line-height:17px; padding-left:25px;}
.radio { background:url('../images/common/btn_radio_off.png') no-repeat center left; background-size:20px 20px; color:#7a7a7a;}
.check { background:url('../images/common/btn_checkbox_off.png') no-repeat center left; background-size:18px 18px;}
label.c-on { background:url('../images/common/btn_checkbox_on.png') no-repeat center left; background-size:18px 18px;}
label.r-on { background:url('../images/common/btn_radio_on.png') no-repeat center left; background-size:20px 20px; color:#053343; }
label{ margin:0;line-height:1.5em; letter-spacing: -1px; }
.check input, .radio input { position: absolute; left: -9999px;}
.check.focus, .radio.focus { position:relative; }
.check.focus:before, .radio.focus:before { display:block; content:''; width:18px; height:18px; border:2px solid #a1c3fa; position:absolute; top:50%; left:-2px; margin-top:-11px; line-height:14px; box-sizing:content-box;}
.radio.focus:before { width:20px; height:20px; margin-top:-12px; }


/*file custom*/
.file-wrap { position:relative;}
.file-wrap .btn.file { display:inline-block; padding:5px 17px; margin-left:6px; margin-top:8px; border:1px solid #545454; border-radius:0; text-align:center; color:#252525; font-size:12px; font-weight:500; background:#fff; }
.file-wrap .input-file-hidden { position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; cursor:pointer; }



/* blind */
.blind{width:0; height:0; text-indent:-10000px; font-size:0px; line-height:0px; position:absolute; left:-99999px; }
.blind table{text-indent:-10000px}
.ir { overflow:hidden; text-indent:100%; white-space:nowrap; }

/*animation*/
.ani-all {
    transition:all .5s;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
}

/* ScrollMagic  */
[class *= 'effect-'] .obj {
    position:relative;  opacity:0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
 }
[class *= 'effect-'].on .obj { opacity:1; }
[class *= 'effect-'].on .obj-left { left:0; }
[class *= 'effect-'].on .obj-right { right:0; }
[class *= 'effect-'].on .obj-top { top:0; }
[class *= 'effect-'].on .obj-m-left { margin-left:0 }
.obj-left { left:-20%; }
.obj-right { right:-20%; }
.obj-top { top:20%; }
/* .obj-middle { top:35%; }
.obj-bottom { top:60%; } */

@media all and (max-width:768px) {
  /*html { font-size:15px; }*/
}
@media all and (max-width:640px) {
  /*html { font-size:14px; }*/

  .mt10 { margin-top:6px !important; }
  .mt15 { margin-top:9px !important; }
  .mt20 { margin-top:12px !important; }
  .mt25 { margin-top:15px !important; }
  .mt30 { margin-top:18px !important; }
  .mt35 { margin-top:21px !important; }
  .mt40 { margin-top:24px !important; }
  .mt45 { margin-top:27px !important; }
  .mt50 { margin-top:30px !important; }
  .mt55 { margin-top:33px !important; }
  .mt60 { margin-top:36px !important; }
  .mt65 { margin-top:39px !important; }
  .mt70 { margin-top:42px !important; }
  .mt75 { margin-top:45px !important; }
  .mt80 { margin-top:48px !important; }
  .mt85 { margin-top:51px !important; }
  .mt90 { margin-top:54px !important; }
  .mt95 { margin-top:57px !important; }
  .mt100 { margin-top:60px !important; }

  .mb10 { margin-bottom:6px !important; }
  .mb15 { margin-bottom:9px !important; }
  .mb20 { margin-bottom:12px !important; }
  .mb25 { margin-bottom:15px !important; }
  .mb30 { margin-bottom:18px !important; }
  .mb35 { margin-bottom:21px !important; }
  .mb40 { margin-bottom:24px !important; }
  .mb45 { margin-bottom:27px !important; }
  .mb50 { margin-bottom:30px !important; }
  .mb55 { margin-bottom:33px !important; }
  .mb60 { margin-bottom:36px !important; }
  .mb65 { margin-bottom:39px !important; }
  .mb70 { margin-bottom:42px !important; }
  .mb75 { margin-bottom:45px !important; }
  .mb80 { margin-bottom:48px !important; }
  .mb85 { margin-bottom:51px !important; }
  .mb90 { margin-bottom:54px !important; }
  .mb95 { margin-bottom:57px !important; }
  .mb100 { margin-bottom:60px !important; }

  .pt10 { padding-top:6px !important; }
  .pt15 { padding-top:9px !important; }
  .pt20 { padding-top:12px !important; }
  .pt25 { padding-top:15px !important; }
  .pt30 { padding-top:18px !important; }
  .pt35 { padding-top:21px !important; }
  .pt40 { padding-top:24px !important; }
  .pt45 { padding-top:27px !important; }
  .pt50 { padding-top:30px !important; }
  .pt55 { padding-top:33px !important; }
  .pt60 { padding-top:36px !important; }
  .pt65 { padding-top:39px !important; }
  .pt70 { padding-top:42px !important; }
  .pt75 { padding-top:45px !important; }
  .pt80 { padding-top:48px !important; }
  .pt85 { padding-top:51px !important; }
  .pt90 { padding-top:54px !important; }
  .pt95 { padding-top:57px !important; }
  .pt100 { padding-top:60px !important; }

  .pb10 { padding-bottom:6px !important; }
  .pb15 { padding-bottom:9px !important; }
  .pb20 { padding-bottom:12px !important; }
  .pb25 { padding-bottom:15px !important; }
  .pb30 { padding-bottom:18px !important; }
  .pb35 { padding-bottom:21px !important; }
  .pb40 { padding-bottom:24px !important; }
  .pb45 { padding-bottom:27px !important; }
  .pb50 { padding-bottom:30px !important; }
  .pb55 { padding-bottom:33px !important; }
  .pb60 { padding-bottom:36px !important; }
  .pb65 { padding-bottom:39px !important; }
  .pb70 { padding-bottom:42px !important; }
  .pb75 { padding-bottom:45px !important; }
  .pb80 { padding-bottom:48px !important; }
  .pb85 { padding-bottom:51px !important; }
  .pb90 { padding-bottom:54px !important; }
  .pb95 { padding-bottom:57px !important; }
  .pb100 { padding-bottom:60px !important; }
}
